<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452088120781-u4u9cv9ofdqqhhf6kmhrphjtlg1jb58q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452088120781-u4u9cv9ofdqqhhf6kmhrphjtlg1jb58q</string>
	<key>API_KEY</key>
	<string>AIzaSyBfEBSAT3gxMNBuL65wjxYHd3kZU-BllKE</string>
	<key>GCM_SENDER_ID</key>
	<string>452088120781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-33ae8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-33ae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452088120781:ios:bdaf48500b754cef3e7084</string>
</dict>
</plist>